@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand';
  font-size: 18px;
  overflow-x: hidden;
  color: white !important;
}

body .wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: 100vmin;
      grid-template-rows: 100vmin;
}

body .wrapper .left {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  background: radial-gradient(circle, magenta, #1d115f);
  color: white;
  -webkit-box-shadow: 0 0 10px black inset;
          box-shadow: 0 0 10px black inset;
  text-align: center;
  font-weight: lighter;
  padding: 1rem;
}

body .wrapper .left .dark-mode-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

body .wrapper .left .dark-mode-wrapper .container {
  background: white;
  width: 30px;
  height: 60px;
  border-radius: 50px;
}

body .wrapper .left .dark-mode-wrapper .container input {
  display: none;
  outline: none;
  border: none;
}

body .wrapper .left .dark-mode-wrapper .container input:checked ~ .fa-moon {
  -webkit-transform: translateY(28px);
          transform: translateY(28px);
  color: #18191c;
}

body .wrapper .left .dark-mode-wrapper .container label {
  position: relative;
  display: block;
  padding-top: .3rem;
  border-radius: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
}

body .wrapper .left .dark-mode-wrapper .container label .fa-moon {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 80%;
  color: #1d115f;
}

body .wrapper .left span {
  position: relative;
  top: -.3rem;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  opacity: 0;
}

body .wrapper .left .fade-in {
  opacity: 1;
  position: relative;
  top: 0;
}

body .wrapper .left .scroll {
  position: relative;
  bottom: 2rem;
  margin-top: 5rem;
  text-align: center;
  display: none;
}

body .wrapper .left .profile {
  margin-bottom: auto;
  text-align: center;
}

body .wrapper .left .profile .avatar-wrapper {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 3px solid white;
  margin: 0 auto .5em auto;
}

body .wrapper .left .profile .avatar-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

body .wrapper .left .profile .avatar-wrapper .verify {
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

body .wrapper .left .profile .avatar-wrapper .arrow {
  pointer-events: none;
  position: absolute;
  top: -2rem;
  left: -3rem;
  width: 60px;
  height: 60px;
}

body .wrapper .left section {
  position: relative;
  margin-top: auto;
  padding: 1.2rem;
}

body .wrapper .left section .header {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

body .wrapper .left section article {
  position: relative;
}

body .wrapper .left section article::before, body .wrapper .left section article::after {
  position: absolute;
  content: '';
  display: inline;
  border-top: 2px solid white;
  border-left: 2px solid white;
  padding: 1em;
}

body .wrapper .left section article::before {
  top: -10px;
  left: -10px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

body .wrapper .left section article::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: -10px;
  right: -10px;
}

body .wrapper .left h1 {
  font-weight: 300;
}

body .wrapper .dark-mode {
  background: none;
  background: radial-gradient(circle, #222, #000);
}

body .wrapper .right {
  position: relative;
}

body .wrapper .right .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 0 0rem 0 0;
}

body .wrapper .right::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -30px;
  margin-top: -18px;
  display: inline-block;
  border-top: 25px solid transparent;
  border-right: 40px solid white;
  border-bottom: 25px solid transparent;
}

body .wrapper .right .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .4em;
  gap: 1em;
}

body .wrapper .right .social-links .fab {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  color: #1877F2;
}

body .wrapper .right .social-links .fab:hover {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  cursor: pointer;
}

body .wrapper .right .social-links::before, body .wrapper .right .social-links::after {
  content: '';
  display: block;
  border-bottom: 1px solid black;
  width: 4rem;
}

body .wrapper .right .social-links .fa-github {
  color: #24292e;
}

body .wrapper .right .social-links .fa-youtube {
  color: red;
}

body .wrapper .right .title {
  text-shadow: 1px 0px 3px black;
  color: #1F2833;
}

body .wrapper .right .content {
  padding: 1em 0;
  text-align: center;
}

body .wrapper .right .content section {
  margin: auto;
}

body .wrapper .right .content section .projects-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  color: white;
  margin-bottom: auto;
}

body .wrapper .right .content section .projects-wrapper .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 999;
  width: 9em;
  height: 9em;
}

body .wrapper .right .content section .projects-wrapper .project::after {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  content: '';
  display: block;
  background: black;
  width: 100%;
  height: 100%;
}

body .wrapper .right .content section .projects-wrapper .project:hover::after {
  opacity: .5;
  cursor: pointer;
}

body .wrapper .right .content section .projects-wrapper .project:hover p {
  display: block;
}

body .wrapper .right .content section .projects-wrapper .project p {
  pointer-events: none;
  display: none;
}

body .wrapper .right .content section .projects-wrapper .project a, body .wrapper .right .content section .projects-wrapper .project a:visited {
  color: white;
}

body .wrapper .right .content section .projects-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 768px) {
  body div.wrapper, body div.wrapper .left .scroll, body .wrapper .right .content section .projects-wrapper .project p {
    display: block;
  }
  body div.wrapper .left .content {
    margin: auto;
  }
  body div.wrapper .right::after {
    top: -.4em;
    left: 50%;
    margin-left: -1.9em;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    border: none;
    background: white;
    width: 2.5em;
    height: 2.5em;
    border-radius: 38px;
  }
  body div.wrapper .left .arrow {
    display: none;
  }
  body .wrapper .right .content section .projects-wrapper .project::after {
    opacity: .5;
  }
  body .wrapper .left, body .wrapper .right {
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */