@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$bg-dark: hsl(249, 70%, 22%);
$bg-light: hsl(300, 100%, 50%);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// resets

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: none;
}

html {
    scroll-behavior: smooth;
}

body {
    @include flex-center();
    font-family: 'Quicksand';
    font-size: 18px;
    overflow-x: hidden;
    color: white !important;

    .wrapper {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 100vmin;

        .left {
            position: relative;
            z-index: 1;
            background: radial-gradient(circle, $bg-light, $bg-dark);
            @include flex-center();
            flex-direction: column;
            color: white;
            box-shadow: 0 0 10px black inset;
            text-align: center;
            font-weight: lighter;
            padding: 1em;
        
            .dark-mode-wrapper {
                position: absolute;
                top: 1rem;
                right: 1rem;
                
                .container {
                    background: white;
                    width: 30px;
                    height: 60px;
                    border-radius: 50px;

                    input {
                        display: none;
                        outline: none;
                        border: none;

                        &:checked ~ .fa-moon {
                            transform: translateY(28px);
                            color: #18191c;
                        }
                    }

                    label {
                        position: relative;
                        display: block;
                        padding-top: .3rem;
                        border-radius: 100%;
                        height: 100%;
                        cursor: pointer;
                        text-align: center;

                        .fa-moon {
                            transition: all .5s ease;
                            width: 80%;
                            color: hsl(249, 70%, 22%);
                        }
                    }
                }
            }

            span {
                position: relative;
                top: -.3rem;
                transition: all .1s ease-out;
                opacity: 0;
            }

            .fade-in {
                opacity: 1;
                position: relative;
                top: 0;
            }

            .scroll {
                margin: auto auto 5em auto;
                text-align: center;
                display: none;
            }

            .profile {
                margin: auto 0 auto 0;
                text-align: center;

                .avatar-wrapper {
                    position: relative;
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                    border: 3px solid white;
                    margin: 0 auto .5em auto;
    
                    img {
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }

                    .verify {
                        position: absolute;
                        bottom: 0;
                        right: 15px;
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                    }

                    .arrow {
                        pointer-events: none;
                        position: absolute;
                        top: -2rem;
                        left: -3rem;
                        width: 60px;
                        height: 60px;
                    }
                }
            }

            section {
                position: relative;
                margin: auto 0 1.5em 0;
                padding: 1.2rem;

                .header {
                    font-weight: 900;
                    font-size: 1.5rem;
                    margin-bottom: 2rem;
                }

                article {
                    position: relative;

                    &::before, &::after {
                        position: absolute;
                        content: '';
                        display: inline;
                        border-top: 2px solid white;
                        border-left: 2px solid white;
                        padding: 1em;
                    }
    
                    &::before {
                        top: -10px;
                        left: -10px;
                        transform: rotate(0deg);
                    }
    
                    &::after {
                        transform: rotate(180deg);
                        bottom: -8px;
                        right: -10px;
                    }
                }
            }

            h1 {
                font-weight: 300;
            }
        }

        .dark-mode {
            background: none;
            background: radial-gradient(circle, #222, #000);
        }

        .right {
            position: relative;
            padding: 0 1rem 0 1rem;
            @include flex-center();

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 50%;
                left: -30px;
                margin-top: -18px;
                display: inline-block;
                border-top: 25px solid transparent;
                border-right: 40px solid white;
                border-bottom: 25px solid transparent;
            }

            .social-links {
                @include flex-center();
                margin: .5em;
                gap: 1em;

                .fab {
                    transition: transform .5s ease;
                    transform: scale(1.2, 1.2);
                    color: #1877F2;

                    &:hover {
                        transform: scale(2, 2);
                        cursor: pointer;
                    }
                }

                &::before, &::after {
                    content: '';
                    display: block;
                    border-bottom: 1px solid black;
                    width: 100%;
                }

                .fa-github {
                    color: #24292e;
                }

                .fa-youtube {
                    color: red;
                }
            }

            .title {
                text-shadow:
                1px 0px 3px black;
                color: #1F2833;
            }

            .content {
                display: flex;
                flex-direction: column;
                height: 100%;
                padding: 1em 0;
                text-align: center;

                section {
                    margin: auto;
                    
                    .projects-wrapper {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 1em;
                        color: white;
                        margin-bottom: auto;

                        .project {
                            @include flex-center();
                            position: relative;
                            z-index: 999;
                            width: 9em;
                            height: 9em;

                            &::after {
                                pointer-events: none;
                                position: absolute;
                                z-index: -1;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                transition: opacity .5s ease;
                                content: '';
                                display: block;
                                background: black;
                                width: 100%;
                                height: 100%;
                            }

                            &:hover::after {
                                opacity: .5;
                                cursor: pointer;
                            }

                            &:hover p {
                                display: block;
                            }

                            p {
                                pointer-events: none;
                                display: none;
                            }

                            a, a:visited {
                                color: white;
                            }
                        }

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: -1;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }

        }
    }

    .bg {
        @include flex-center();
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9999;

        &::after {
            content: '';
            display: block;
            @include flex-center();
            position: absolute;
            width: 100%;
            height: 100%;
            background: black;
            opacity: .5;
        }

        .block {
            position: relative;
            z-index: 1;
            background: white;
            width: 20rem;
            color: black;
            padding: 1rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    
    body div.wrapper, body div.wrapper .left .scroll, body .wrapper .right .content section .projects-wrapper .project p {
        display: block;
    }

    body div.wrapper .left .content {
        margin: auto;
    }

    body div.wrapper .right::after {
        top: -.4em;
        left: 50%;
        margin-left: -1.9em;
        transform: rotate(90deg);
        border: none;
        background: white;
        width: 2.5em;
        height: 2.5em;
        border-radius: 38px;
    }

    body div.wrapper .left .arrow {
        display: none;
    }

    body .wrapper .right .content section .projects-wrapper .project::after {
        opacity: .5;
    }

    body .wrapper .left, body .wrapper .right {
        height: 100%;
    } 

}