@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand';
    font-size: 18px;

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 50%);

        .left {
            @include flex-center();
            background: url(https://www.desktopbackground.org/download/3840x2400/2012/01/31/336601_anime-landscape-sky-wallpapers-hd_4000x2500_h.png);
            background-size: cover;
            background-position: center;
            color: white;

            .avatar-wrapper {
                width: 10em;
                height: 10em;
                border-radius: 50%;
                border: 3px solid white;
                margin: 0 auto .5em auto;
                overflow: hidden;

                img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
            }

            span {
                transition: opacity .5s ease;
                opacity: 0;
            }

            .fade-in {
                opacity: 1;
            }

            .scroll {
                margin: 2em auto;
                text-align: center;
                display: none;

                &::after {
                    content: '';
                    display: inline-block;
                    padding: 5px;
                    border-left: 1px solid white;
                    border-bottom: 1px solid white;
                    transform: rotate(-45deg);
                }

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }

        .right {
            // background-image: url(https://images.hdqwalls.com/download/anime-scenery-field-4k-9j-2048x2048.jpg);
            background-size: cover;
            background-position: center;
            display: grid;
            justify-items: center;
            align-items: center;

            .social-links {
                @include flex-center();
                margin: .5em;
                gap: 1em;

                .fab {
                    transition: transform .5s ease;
                    transform: scale(1.2, 1.2);
                    color: #1877F2;

                    &:hover {
                        transform: scale(2, 2);
                        cursor: pointer;
                    }
                }

                &::before, &::after {
                    content: '';
                    display: block;
                    border-bottom: 1px solid black;
                    width: 100%;
                }

                .fa-github {
                    color: #24292e;
                }

                .fa-youtube {
                    color: red;
                }
            }

            h1 {
                text-shadow:
                0px 1px 4px black;
            }

        }

        .left, .right {
            min-height: 100vh;

            h1:first-letter {
                font-size: 1.2em;
                font-style: bolder;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    
    body div.wrapper, body div.wrapper .left .scroll {
        display: block;
    }

}