@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;

    .wrapper {
        font-family: 'Quicksand', sans-serif;
        font-size: 2em;
        display: grid;
        justify-items: center;

        img {
            transition: all .5s ease;
            width: 30vh;
            height: 60vh;
            object-fit: cover;
            object-position: center;
        }
    }
}