@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand';
    font-size: 18px;
    margin: 0;
    // min-height: 100vh;

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 50%);

        .left {
            background: purple;
            color: white;

            span {
                display: block;
            }
        }

        .right {
            background: #eee;
        }

        .left, .right {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;

            h1:first-letter {
                font-size: 1.2em;
                font-style: bolder;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    
    body div.wrapper {
        display: block;

        div.wrapper div.left, div.wrapper div.right {
            height: 0;
        }
    }

}